{
  "PHP":{
    "command":"php"
  },
  "DB":{
    "local":{
      "example":{
        "host":"localhost",
        "db":"example",
        "user":"example",
        "pass":"example",
        "charset": "utf8mb4"
      }
    },
    "remote":{

    }
  }
}